
@{
    Layout = null;
}
@model List<Model.Wjbq>
<table class="layui-table layui-form" lay-skin='nob'>
    <thead>
    <tr>
        <th><input type="checkbox" name="" title="" lay-skin="primary" lay-filter="chkAll" id="idChkAll"></th>
        <th>标签名称</th>
        <th>标签详情</th>
    </tr>
    </thead>
    <tbody id="idListBody">
    @if (Model != null && Model.Count > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td><input type="checkbox" name="" title="" lay-skin="primary" lay-filter="chkSingle" bqid="@item.ID" bqmc="@item.BQMC" ></td>
                <td>@item.BQMC</td>
                <td>@item.BQXQ</td>
            </tr>
        }
    }
    </tbody>
</table>

@if (Model == null || Model.Count == 0)
{
    <div class="data_none"><img src="~/content/assets/images/nothing.png" alt=""></div>
}
@*<div class="buttonwrap">
    <a href="javascript:;" class="layui-btn layui-btn-blue yes" id="btnSelSave">保存</a>
    <a href="javascript:;" class="layui-btn layui-btn-primary close" id="btnSelCancel">取消</a>
</div>*@

