.layui-view-body{
    background-color: #f0f2f5;
    position: relative;
}

.layui-content{
    /*position: absolute;
    top: 24px;
    bottom: 10px;
    left: 24px;
    right: 24px;
    overflow: auto;
    overflow-x: hidden;*/
    padding: 24px;
    padding-bottom: 0;
    box-sizing: border-box;
    /*min-width: 1300px;*/
}

.layui-tab-title{
    border-bottom-color: #e8e8e8;
}
.layui-card .layui-tab-brief .layui-tab-title li{
    margin:0 15px;
    padding: 0;
}

.layui-form-checked i, .layui-form-checked:hover i,
.layui-form-radio>i:hover, .layui-form-radioed>i,
.layui-breadcrumb a:hover,
.layui-laypage a:hover,
.layui-tab-brief>.layui-tab-title .layui-this{
    /* color: #1f77ef!important; */
}

.layui-btn-primary:hover,
.layui-form-onswitch,
.layui-form-checked[lay-skin=primary] i,
.layui-form-checkbox[lay-skin=primary]:hover i,
.layui-form-checked, .layui-form-checked:hover,
.layui-tab-brief>.layui-tab-more li.layui-this:after,
.layui-tab-brief>.layui-tab-title .layui-this:after{
    border-color: #1f77ef;
}

.layui-checkbox-disbaled[lay-skin=primary]:hover i {
    border-color: #d2d2d2!important;
}

.layui-form-onswitch,
.layui-form-checked[lay-skin=primary] i,
.layui-form-select dl dd.layui-this,
.layui-laypage .layui-laypage-curr .layui-laypage-em,
.layui-form-checked span, .layui-form-checked:hover span{
    background-color: #1f77ef;
}
.layui-btn-blue{
    background-color: #1f77ef;
    background-repeat: repeat-y;
    background-image: -moz-linear-gradient(left,#29adeb,#1f77ef);
    background-image: -webkit-linear-gradient(left,#29adeb,#1f77ef);
    background-image: -o-linear-gradient(left,#29adeb,#1f77ef);
    background-image: linear-gradient(left,#29adeb,#1f77ef);
}

.layui-form-checkbox[lay-skin=primary]:hover span{
    background: 0 0!important;
}

.layui-page-header{
    /* margin: -20px -20px 20px; */
}

.layui-page-header .pagewrap{
    padding: 15px 20px;
	padding: 0 0 24px 0;
    background-color: #fff;
	background: none;
}

.layui-page-header .title{
    margin-top: 15px;
}

.chart-card{
    padding: 20px 24px 8px;
}

.chart-card .chart-header{
    position: relative;
    width: 100%;
    overflow: hidden;
}

.chart-card .metawrap{
    float: left;
}

.chart-card .metawrap .meta{
    color: rgba(0,0,0,.45);
    font-size: 14px;
    line-height: 22px;
    height: 22px;
}

.chart-card .metawrap .total{
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: nowrap;
    color: rgba(0,0,0,.85);
    margin-top: 4px;
    margin-bottom: 0;
    font-size: 30px;
    line-height: 38px;
    height: 38px;
}

.chart-card .chart-body{
    margin-bottom: 12px;
    position: relative;
    width: 100%;
}

.chart-card .chart-footer{
    padding-top: 9px;
    margin-top: 8px;
    border-top: 1px solid #e8e8e8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.chart-card .field{

}

.chart-card .field span{
    font-size: 14px;
    line-height: 22px;
}

.chart-card .field span:last-child{
    margin-left: 8px;
    color: rgba(0,0,0,.85);
}

.form-box{
    padding: 10px 0;
}
.tool_pannel {
	background: #fff;
	border-radius: 4px;
	padding: 32px 24px 34px;
	margin-bottom: 24px;
    /*min-width: 1190px;*/
}
.tool_pannel .layui-input-inline {
	width: 180px;
	height: 32px;
}
.tool_pannel .layui-input,.tool_pannel  .layui-select {
	height: 32px;
}
.tool_pannel .layui-form-select dl dd,.tool_pannel  .layui-form-select dl dt {
	line-height: 32px;
}
.tool_pannel .layui-form-select dl {
	top: 32px;
	padding: 0;
}
.tool_pannel .layui-form-label {
	padding: 0;
	line-height: 32px;
	width: auto;
}
.tool_pannel .layui-form-inline {
	margin-right: 32px;
	display: inline-block;
    vertical-align: middle;
}
.tool_pannel .layui-form-inline:last-child {
    margin-right: 0;
}
.tool_pannel button .iconfont {
	margin-right: 8px;
	vertical-align: middle;
}
.tool_pannel button {
	height: 32px;
	line-height: 32px;
    padding: 0 14px;
}
.tool_pannel .layui-form-item {
	margin-bottom: 24px;
}
.tool_pannel .layui-form-item:last-child {
	margin-bottom: 0;
}
.text_blue {
	color: #1f77ef;
}
.text_blue:hover {
	color: #1f77ef;
}
.text_status {
	display: inline-block;
	width: 58px;
    height: 26px;
    font-size: 12px;
    line-height: 27px;
	text-align: center;
	background-color: #dfedff;
	border-radius: 4px;
	border: solid 1px #bad7ff;
	color: #1f77ef;
}
.text_status2 {
	background-color: #f5f5f5;
	color: #666666;
	border: solid 1px #dedede;
}
.layui-table-cell {
	min-height: 20px;
	height: auto;
}
.layui-table-view .layui-table td {
	height: 65px;
}
.layui-table-view .layui-table th {
	height: 56px;
	color: #000;
}
.layui-table thead tr {
	background: #fafafa;
}
.layui-table tbody tr:hover {
	background-color: #f0f6ff;
}
.layui-table-view {
	border: 0;
}
.layui-table-header {
	border: 0;
}
.layui-table-page {
	/*border: 0;*/
	text-align: right;
	padding: 35px 50px;
	height: auto;
}
.table_wrap {
	background: #fff;
}
.layui-table, .layui-table-view {
	margin: 0;
}
/*.layui-table-view .layui-table {
    width: 100%;
}*/
.layui-btn-blue {
    background-image: none;
}
.icon-sousuo {
	font-size: 20px;
}
#pqsz_wrap {
	background: #fff;
	padding: 30px 30px 80px;
	font-size: 14px;
}
#pqsz_wrap .layui-input-inline input {
	width: 180px;
	height: 32px;
	line-height: 32px;
	background-color: #fffeff;
	border-radius: 4px;
	border: solid 1px #e5e5e5;
}
#pqsz_wrap .layui-input-inline2 input {
	width: 60px;
}
#pqsz_wrap .box-title {
	color: #333333;
	margin-bottom: 20px;
}
#pqsz_wrap .box-item {
	margin-bottom: 40px;
}
#pqsz_wrap .box-inline {
	display: inline-block;
	margin-right: 16px;
}
#pqsz_wrap .box-label {
	margin-right: 10px;
}
#pqsz_wrap .box-block {
	margin-bottom: 16px;
}
#pqsz_wrap .cut {
	display: inline-block;
	width: 16px;
	text-align: center;
	height: 16px;
	line-height: 15px;
	font-size: 20px;
	border-radius: 50%;
	color: #f5222d;
	cursor: pointer;
	border: solid 1px #f8767b;
}
#pqsz_wrap .addBtn {
	width: 417px;
	height: 32px;
	text-align: center;
	line-height: 32px;
	border-radius: 4px;
	color: #1f77ef;
	cursor: pointer;
	border: dashed 1px #dedede;
}
#pqsz_wrap .box-yysz .layui-input-inline {
	margin: 0 10px;
}
#pqsz_wrap .box-yysz .layui-input-inline3 input {
	width: 110px;
}
.checkes_wrap {
	padding: 20px 10px;
	display: inline-block;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}
.checkes_wrap .layui-form-checkbox {
	margin: 10px 10px;
}
.c_btns_center {
	text-align: center;
	padding: 30px 0;
}
.c_btns_center .layui-btn {
	margin: 0 15px;
}
.table_wrap table {
	font-size: 14px;
}
.table_wrap tr {
	border-bottom: 1px solid #edeff2;
}
.table_wrap tr th:first-child,
.table_wrap tr td:first-child {
	padding-left: 24px;
}
.table_wrap td {
	height: 38px;
}
.table_wrap th {
	color: #000000;
	font-weight: bold;
	padding: 18px 15px;
}
.tooltd a {
	margin-right: 10px;
    display: inline-block;
}
.table_pages {
	text-align: right;
	font-size: 14px;
	color: #666;
	padding: 30px 52px 34px;
}
.table_pages a {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	border-radius: 4px;
}
.table_pages .page-prev,
.table_pages .page-next {
	display: inline-block;
	text-align: center;
	width: 32px;
	height: 32px;
	line-height: 32px;
	cursor: pointer;
}
.table_pages a.on {
	background-color: #1f77ef;
	color: #fff;
}
#ddxq_wrap {
	padding: 30px;
	background: #fff;
	font-size: 14px;
}
#ddxq_wrap .box-title {
	color: #000000;
	font-size: 16px;
	margin-bottom: 32px;
}
#ddxq_wrap .box-item {
	margin-bottom: 58px;
	color: #333;
	padding-bottom: 18px;
	border-bottom: 1px solid #edeff2;
}
#ddxq_wrap dt,
#ddxq_wrap dd {
	display: inline-block;
}
#ddxq_wrap .layui-row {
	margin-bottom: 14px;
}
#ddxq_wrap dd {
	color: #666;
}
#ddxq_wrap .table_wrap2 .box-title {
	margin-bottom: 16px;
}
#ddxq_wrap .table_wrap2 thead tr {
	background-color: #f0f2f5;
}
.show_bartd input {
	width: 20px;
	display: inline-block;
	border: 0;
	margin-right: 20px;
	background: none;
	color: #1f77ef;
}
.show_bartd input.layui-input {
	width: 65px;
	border: 1px solid #e6e6e6;
	background: #fff;
}
.show_bartd .edit {
	display: inline-block;
	width: 14px;
	height: 16px;
	background: url(../images/e.png) no-repeat;   
	background-size: cover;
	cursor: pointer;
	vertical-align: middle;
}
.show_bartd .back {
    display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../images/back2.png) no-repeat;   
	background-size: cover;
	cursor: pointer;
	vertical-align: middle;
}
.show_bartd .back2 {
    background: url(../images/back1.png) no-repeat;   
	background-size: cover;
}
.show_bartd .aspan {
	display: none;
}
.edit_dialog {
	background: #fff;
	padding: 20px 24px;
	font-size: 14px;
	display: none;
}
.edit_dialog .layui-input {
	line-height: 32px;
	height: 32px;
}
.edit_dialog .layui-input-inline {
	width: 346px;
}
.edit_dialog .layui-textarea {
	width: 346px;
}
.edit_dialog .layui-form-label {
	padding: 0 15px;
	line-height: 32px;
}
.buttonwrap .layui-btn {
	width: 64px;
	height: 32px;
    line-height: 32px;
}
.buttonwrap {
	text-align: right;
	padding-top: 16px;
	border-top: 1px solid #f2f2f2;
	margin-top: 30px;
}
.edit_dialog .layui-btn {
	height: 32px;
	line-height: 32px;
}
.delet_dialog {
	background: #fff;
	padding: 30px 20px 0;
	display: none;
}
.delet_dialog h3 {
	font-size: 16px;
	color: #333333;
}
.delet_dialog h3 img {
	margin-right: 10px;
}
.delet_dialog p {
	color: #999999;
	font-size: 14px;
	margin: 16px 0 0 34px;
}
.table_qx.layui-table td, .table_qx.layui-table th {
	padding: 17px 15px;
}
.table_qx.layui-table thead tr {
	background: #f5f5f5;
}
#editTb {
	display: none;
	padding: 30px;
}
.tbHasCheck .layui-form-checkbox {
	margin-right: 30px;
}
.addUser_dialog {
	background: #fff;
	display: none;
	padding: 20px 24px 20px 0;
}
.addUser_dialog .layui-input-inline {
	width: 346px;
}
.addUser_dialog input,.addUser_dialog select {
	height: 32px;
}
.text_star {
	color: #fc4b4b;
}
.layui-input[lay-key] {
	background: #fff url(../images/date.png) no-repeat 96% center; 
}
.moreInfoTab {
	display: none;
	padding: 30px;
}
.my-tab .layui-tab-title li {
	width: 84px;
	height: 35px;
	line-height: 35px;
	background-color: #dbdbdb;
	border-radius: 4px 4px 0px 0px;
	padding: 0;
	font-size: 14px;
	color: #666666;
	vertical-align: bottom;
}
.my-tab .layui-tab-title .layui-this {
	height: 42px;
	line-height: 42px;
	color: #ffffff;
	border-radius: 4px 4px 0px 0px;
	background-color: #1f77ef;
	border: 0;
}
.my-tab .layui-tab-title .layui-this:after {
	display: none;
}
.my-tab .layui-tab-title {
	height: 42px;
	background: none;
	border: 0;
}
.tabCountWrap {
	margin-top: 24px;
	background: #fff;
	padding: 24px;
	color: #333333;
}
.tabCountWrap span {
	margin-right: 30px;
}
.tabCountWrap>span:first-child {
	color: #000000;
	font-weight: bold;
}
.text_star .layui-form-checkbox[lay-skin=primary]:hover i {
	border: 1px solid #d2d2d2;
}
.text_star .layui-form-checked[lay-skin=primary] i {
	color: red;
	border: 1px solid #d2d2d2;
	background: none;
}
.indexWrap .index_2,
.indexWrap .index_1 {
	border-radius: 4px;
	background: #fff;
	padding: 20px;
}
.index_1 .top {
	overflow: hidden;
	color: #999999;
	font-size: 14px;
	margin-bottom: 10px;
}
.index_1 .top dt {
	float: left;
}
.index_1 h3 {
	font-size: 36px;
	color: #000000;
	margin-bottom: 10px;
}
.index_1 .top dd {
	float: right;
}
.index_1 .duibi {
	color: #999999;
	font-size: 14px;
}
.index_1 .duibi b {
	font-weight: normal;
}
.index_1 p img,
.index_1 .duibi img {
	vertical-align: middle;
	margin: 0 6px;
}
.index_1 .duibi span {
	margin-right: 20px;
}
.index_1 p {
	color: #666666;
	margin-top: 20px;
}
.index_1 p span {
	margin-left: 20px;
}
.index_2 .top {
	color: #000000;
	font-size: 16px;
	font-weight: bold;
}
.index_2 .top span {
	font-weight: normal;
	font-size: 14px;
	color: #666666;
	margin-left: 10px;
}
#pqsz_wrap .paiqiTop {
    margin-bottom: 32px;
}
#pqsz_wrap .paiqiTop .layui-input-inline input {
    width: 100%;
}
#pqsz_wrap .paiqiTop .item {
    display: inline-block;
    margin-right: 20px;
}
#pqsz_wrap .paiqiTop .tool a {
    display: inline-block;
    vertical-align: middle;
}
table.paiqi {
    width: 100%;
    border: solid 1px #e5e5e5;
}
table.paiqi td, table.paiqi th {
    height: 80px;
    border: solid 1px #e5e5e5;
}
table.paiqi th {
    background-color: #f2f4f7;    
}
table.paiqi td {
    color: #b3b3b3;
    width: 14%;
    position: relative;
}
table.paiqi td.tdhv {
   background:#fff;
   color: #333333; 
}
table.paiqi td.tdhv span {
    display: block;
    margin-top: 10px;
    color: #ffbb00;
}
.box-3-wrap .box {
	position: relative;
	color: #ffffff;
	font-size: 14px;
	/*margin-bottom: 24px;*/
}
.box-3-wrap .box p {
	position: absolute;
	top: 10px;
	left: 24px;
}
.box-3-wrap .box img {
	width: 100%;
}
.box-3-wrap .box h3 {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 50px;
    margin: auto;
    line-height: 68px;
    text-align: center;
    font-size: 30px;
}
.layui-bg-white {
	background: #fff;
}
.layui-progress-big, .layui-progress-big .layui-progress-bar {
	height: 14px;
	line-height: 14px;
}
.jindu_list {
	float: right;
	color: #fff;
	padding: 0 32px 30px;
	background-color: #5aacff;
    width: 33.33%;
}
.progress_wrap>div {
	display: inline-block;
	width: 100%;
	vertical-align: middle;
}
.progress_wrap>span {
	font-size: 14px;
	margin-left: 20px;
}
.jindu_list li {
	margin-bottom: 24px;
}
.jindu_list li h4 {
	font-size: 15px;
}
.jindu_list li p {
	margin: 4px 0 10px;
}
.jindu_list .layui-progress {
	background-color: #8ac4ff;
}
.jindu_list .time {
	margin: 30px 0 24px;
	font-size: 18px;
	text-align: center;
}
.jindu_list .big {
	width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    margin: 0 auto 34px;
    font-size: 60px;
	margin: 0 auto 34px;
	background-color: #ffbb00;
	border-radius: 50%;
	font-family: MicrosoftYaHei;
}
.comPaiqiWrap {
	background: #fff;
}
.comPaiqiWrap input {
	width: 100% !important;
	height: 32px;
	line-height: 32px;
}
.comPaiqiWrap .tool {
	display: inline-block;
	margin-left: 10px;
}
.comPaiqiWrap .tool a {
	display: inline-block;
	vertical-align: middle;
}
.comPaiqiWrap .color_red {
	color: #ff0000;
}
.paiqiTable {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	font-size: 14px;
}
.paiqiTable tr,.paiqiTable td,.paiqiTable th {
	border: solid 1px #e5e5e5;
	height: 80px;
}
.paiqiTable th {
	background-color: #f2f4f7;
	width: 14%;
}
.pdBox_left {
	overflow: hidden;
}
.paiqiTable td {
	/*color: #b3b3b3;*/
}
.paiqiTable td h4 {
	margin-bottom: 10px;
	font-weight: bold;
}
.paiqiTable td.status1 {
	color: #333333;
}
.paiqiTable td.status1 p {
	color: #999999;
}
.paiqiTable td.status1 .color_orange {
	color: #ffbb00;
}
.paiqiTable td.status2 {
	background-color: #ffbb00;
}
.paiqiTable td.status2 h4,
.paiqiTable td.status2 p {
	color: #fff;
}
.comPaiqiWrap .top {
	margin-bottom: 32px;
}
.pqsz_box {
	background: #fff;
	padding: 24px;
	font-size: 14px;
}
.pqsz_box .title {
	font-size: 16px;
	color: #333333;
	font-weight: bold;
	margin-bottom: 30px;
}
.pqsz_box .i_title {
	color: #333333;
	font-size: 14px;
	margin-bottom: 30px;
}
.pqsz_box input {
	height: 32px;
	line-height: 32px;
}
.pqsz_box .layui-form-label {
	color: #333;
}
.pushDataWrap {
	margin-top: 16px;
	padding: 16px;
	background-color: #fffeff;
	border-radius: 4px;
	border: solid 1px #e5e5e5;
	color: #333333;
}
.pushDataWrap span {
	position: relative;
    margin-right: 30px;
    display: inline-block;
    margin-bottom: 10px;
}
.pushDataWrap span i {
	position: absolute;
	top: -6px;
    right: -16px;
	cursor: pointer;
	color: #999;
}
.layui-btn {
	height: 32px;
	line-height: 35px;
}
.infoChangeWrap dl {
	overflow: hidden;
}
.infoChangeWrap {
	background: #fff;
	padding: 30px 30px 80px;
	font-size: 14px;
	color: #333333;
}
.infoChangeWrap dt {
	width: 84px;
}
.infoChangeWrap dt,
.infoChangeWrap dd {
	float: left;
}
.infoChangeWrap dd {
	color: #666;
}
.infoChangeWrap .item {
	margin-bottom: 20px;
	overflow: hidden;
}
.infoChangeWrap .title {
	float: left;
	width: 84px;
}
.infoChangeWrap .imgList {
	overflow: hidden;
}
.infoChangeWrap .imgList li {
	width: 140px;
	height: 140px;
	background-color: #ffffff;
	border-radius: 4px;
	border: solid 1px #e5e5e5;
	margin-right: 20px;
	float: left;
}
.infoChangeWrap .imgList li img {
	width: 100%;
}
.content_header {
	color: #2c2c2c;
	font-size: 18px;
	margin-bottom: 24px;
}
.tzzx_list {
	background: #fff;
	padding: 24px;
}
.tzzx_list .item {
	overflow: hidden;
	padding: 24px 24px 24px 24px;
	border-bottom: 1px solid #f0f0f0;
}
.tzzx_list .title {
	float: left;
}
.tzzx_list .time {
	float: right;
}
.tzzx_list .layui-bg-gray {
	background-color: #cccccc !important;
}
.tzzx_list .layui-badge-dot {
	margin-right: 10px;
}
.tzzx_list dt {
	overflow: hidden;
	cursor: pointer;
}
.tzzx_list dd {
	padding: 14px 0 0 18px;
	display: none;
}
.tzzx_list .active dd {
	display: block;
}
.tzzx_list .active {
	background-color: #f4f5f9;
}
.tzzx_list .layui-icon {
	color: #9a9a9a;
	margin-left: 24px;
}
.tzzx_list .text_default {
	color: #999999;
}
.hospitalDetail {
	background: #fff;
	padding: 24px 32px;
}
.hospitalDetail .item {
	overflow: hidden;
	margin-bottom: 64px;
}
.hospitalDetail .logo {
	float: left;
	width: 95px;
	height: 95px;
	margin: 12px 100px 0 12px;
}
.hospitalDetail .logo img {
	width: 100%;
}
.hospitalDetail .textList {
	overflow: hidden;
	font-size: 14px;
	color: #666;
}
.hospitalDetail .textList li {
	float: left;
	margin-right: 150px;
	height: 95px;
	line-height: 95px;
}
.hospitalDetail .textList li span {
	vertical-align: middle;
	display: inline-block;
	line-height: 30px;
}
.hospitalDetail .textList li:last-child {
	margin-right: 0;
}
.hospitalDetail .title {
	color: #333333;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 16px;
}
.hospitalDetail .imgList {
	overflow: hidden;
}
.hospitalDetail .imgList li {
	float: left;
	margin-right: 20px;
	max-width: 20%;
}
.hospitalDetail .imgList li:last-child {
	margin-right: 0;
}
.hospitalDetail .imgList li img {
	width: 100%;
}
.hospitalDetail .text {
	color: #666666;
	line-height: 30px;
}
.outDialog {
	background: #fff;
	width: 360px;
	padding: 20px;
	display: none;
}
.outDialog h3 {
	color: #000000;
	font-size: 16px;
	margin-bottom: 16px;
	font-weight: bold;
}
.outDialog p {
	font-size: 14px;
	color: #999999;
}
.grzx_detail_wrap .left {
	float: left;
	width: 500px;
	background: #fff;
	margin-right: 24px;
	padding: 18px 24px;
	min-height: 600px;
}
.grzx_detail_wrap .right {
	overflow: hidden;
	background: #fff;
	padding: 18px 24px;
	min-height: 600px;
}
.grzx_detail_wrap .left .list {
	background-color: #f5f7fa;
	padding: 32px 36px;
	margin: 48px 0 24px;
}
.grzx_detail_wrap dl {
	overflow: hidden;
	font-size: 14px;
	margin-bottom: 40px;
}
.grzx_detail_wrap dl:last-child {
	margin-bottom: 0;
}
.grzx_detail_wrap dt {
	float: left;
	width: 70px;
	color: #333333;
	text-align: right;
}
.grzx_detail_wrap dd {
	overflow: hidden;
	color: #666666;
}
.grzx_detail_wrap .no {
	text-align: center;
	color: #666666;
	margin-top: 200px;
}
.grzx_detail_wrap .no p {
	margin-top: 36px;
}
.welcom-page {
	text-align: center;
    height: 100%;
    display: table;
    width: 100%;
	background: #fff;
}
.welcom-page .layui-content {
	display: table-cell;
	vertical-align: middle;
}
.welcom-page h3 {
	font-size: 36px;
	margin-bottom: 80px;
    padding-top: 100px;
}
.welcom-page img {
	width: 40%;
}
.paiqiTable .tips {
    position:absolute;
    display:none;
    background: #fff;
    box-shadow: 0px 0px 36px 0px 
		rgba(184, 186, 211, 0.5);
    padding:0;
    width: auto;
    height: auto;
    top: 78px;
    left: -20px;
    z-index:99;
    color:#999999;
}
.paiqiTable .tips div {
    width: 156px;
	height: 36px;
    line-height: 36px;
    text-indent: 16px;
    text-align: left;
    cursor:pointer;
}
.paiqiTable .tips div:first-child {
    position: relative;
}
.paiqiTable .tips div:first-child:before {
    content:'';
    position: absolute;
    border: 8px solid transparent;
    border-bottom-color: #fff;
    bottom: 100%;
    right: 20px;    
}
.paiqiTable .tips div:hover {
    background-color: #f5f5f5;       
}
.my-tab .layui-tab-content {
    padding: 0;
}
.layui-breadcrumb a.on,
.layui-breadcrumb a:hover {
    color: #333!important;
}
.x-iframe {
    width: 100%;
    height: 100%;
}
body .layui-laydate .layui-this {
    background-color: #1f77ef!important;
}
.data_none {
    text-align: center;
    padding-top: 100px;
}
.wrap1 {
	padding: 24px 0 0 0;
}
.wrap1 .layui-progress {
	background-color: #ebebeb;
	height: 8px;
}
.wrap1 .layui-progress-bar {
	height: 8px;
}
.wrap1 .title1 {
	color: #666666;
	font-size: 14px;
	margin-bottom: 12px;
}
.wrap1 li {
	margin-bottom: 34px;
	overflow: hidden;
}
.wrap1 li:last-child {
	margin-bottom: 0;
}
.wrap1 .title1 span {
	margin-left: 15px;
}
.wrap1 label {
	float: right;
	position: relative;
    top: -6px;
	width: 60px;
	text-align: right;
}
.wrap1 .layui-progress {
	overflow: hidden;
}
.tongzhiNone {
    text-align: center;
    padding: 50px 0;
}
.tongzhiNone p {
     color: #b3b3b3;
     margin-top: 14px;   
}
a.disabled {
    pointer-events: none;
    filter: alpha(opacity=50); /*IE滤镜，透明度50%*/
    -moz-opacity: 0.5; /*Firefox私有，透明度50%*/
    opacity: 0.5; /*其他，透明度50%*/
}
.footer {
    line-height: 44px;
    text-align: center;
}
.e-img img {
    width: 100%;
    height: 19px;
}
.jdSpan {
    float: right;
    margin-left: 30px;
}
.jdLi {
    overflow: hidden;
}
body .laydate-time-list > li {
    width: 50%;
}
body .laydate-time-list > li:last-child {
    display: none !important;
}
.ab_table_wrap {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 100px;
    top: 240px;
    overflow: auto;
}
.ab_tabCountWrap {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 6px;
}
.zdy_list {
    display: inline-block;
    vertical-align: middle;
    margin-left: 60px;
}
.zdy_list li {
    margin-bottom: 30px;    
}
.zdy_list li:last-child {
    margin-bottom: 0;
}
.zdy_list i {
    width: 8px;
	height: 8px;
	border-radius: 2px;
    display: inline-block;     
}
.zdy_list label {
    color: #666666;
    margin: 0 16px 0 10px;
}
.zdy_list span {
    color: #999999;
    padding-left: 10px;
    border-left:1px solid #e9e9e9;
    margin-right: 70px;
}
.zdy_list b {
    font-weight: normal;
    color: #999999;   
}
.w_span {
    position: relative;
}
.w_span i {
    position: absolute;
    color: #fff;
    background: #fa2d10;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    border-radius: 16px;
    font-style: normal;
    top: -8px;
    right: -10px;
    font-size: 8px; 
}
.layui-laydate-header i:hover,
.laydate-set-ym span:hover {
    color: #1f77ef !important;
}
.c_3 {
    background: #fff;
}
.c_3 .layui-col-md4 {
    text-align: center;
}
.c_3 .layui-col-md4 p {
    display: inline-block;
    color: #666666;
    font-size: 14px;
}
.c_3 .layui-col-md4 p label {
    display: block;
    text-align: left;
}
.c_3 .layui-col-md4 p span {
    display: block;
    text-align:left;
    font-size: 46px;
    color:#000;
    margin-top: 30px;
    margin-bottom: 20px;
}
.c_3 {
    margin-bottom: 26px;
}
.c_3 .right_tool {
    text-align: right;   
}
.c_3 .tool_item {
    display: inline-block;
    position:relative;
    margin-left:20px;
    cursor:pointer;
}
.c_3 .tool_item > span {
    padding: 0 10px;
    display: block;
}
.c_3 .tool_item ul {
    position: absolute;
    background-color: #ffffff;
	box-shadow: 0px 0px 21px 0px 
		rgba(140, 151, 168, 0.22);
	border-radius: 2px;
    right: 0;
    top: 30px;
    z-index: 999;
    display: none;
}
.c_3 .tool_item ul li {
    width: 160px;
    text-align:left;
	height: 32px;
    line-height: 32px;
	/*background-color: #f5f5f5;*/
    text-indent: 14px;  
    color: #333333;  
}
.c_3 .tool_item ul li:hover {
    background-color: #f5f5f5;
}
.c_3 .row_top {
    padding: 24px; 
}
.qrtj_dialog .up_btn {
    display: inline-block;
    text-align: center;
}
.qrtj_dialog .up_btn span {
    display: block;
    margin-top: 30px;
    color: #999999;
}
.qrtj_dialog {
    padding: 24px;
    /*display: none;*/
}
.qrtj_dialog .con {
    border: 1px dashed #b3b3b3;
    width: 500px;
    min-height: 200px;
    position: relative;
    display:table;
    padding: 10px;
}
.qrtj_dialog .con>img {
    width: 340px;
    height: auto;
}
.qrtj_dialog .con .layui-btn-danger {
    position:absolute;   
    top: 10px;
    right: 10px;
}
.qrtj_dialog .up_wrap {
    height: 300px;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: center;   
}
.qrtj_dialog .btns_wrap {
    text-align: right;
    margin-top: 24px;
}
.text_yellow {
    color: #FFA40C;
}
.c_3 dl {
    padding: 20px 30px;
    color:#333;
}

.import_dialog {
    background: #fff;
    padding: 20px 24px;
    font-size: 14px;
    display: none;
}
.import_dialog .layui-input {
    line-height: 32px;
    height: 32px;
    width: 400px;
}

.import_dialog .importtips {
    border: 1px solid #e5e5e5;
    padding: 10px 10px;
    margin-top: 20px;
}

.import_dialog span {
    line-height: 30px;
}

.layui-form-radio>i:hover, .layui-form-radioed>i {
    color: #1f77ef !important;
}


.paper_wrappers .layui-tab-brief>.layui-tab-title .layui-this {
    color: #1E9FFF;
}
.paper_wrappers .layui-tab-brief>.layui-tab-title .layui-this:after {
    border-bottom-color: #1E9FFF;
}
.paper_wrappers .layui-tab-content {
    padding: 30px 20px;
}
.paper_wrappers .paper_lists_ul {
    margin: 20px 0;
}
.paper_wrappers .paper_lists_ul>li {
    margin-bottom: 20px;
}
.paper_wrappers .paper_lists_ul li li {
    margin-bottom: 10px;
}
.paper_wrappers .p_tool {
    text-align: center;
}
.paper_wrappers .p_tool a {
    margin: 0 20px;
}
.paper_wrappers .p_tool i {
    margin-right: 5px;
}
.paper_wrappers .paper_lists_ul .p_title {
    margin-bottom: 10px;
}
.labelGroup {
    width: 324px;
    border-color: #D2D2D2;
    min-height: 100px;
    height: auto;
    line-height: 20px;
    padding: 6px 10px;
    resize: vertical;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-radius: 2px;
}
.labelI {
    background: #fff url(../images/greycha.png) no-repeat right center;
    display: inline-block;
    padding: 2px 20px 2px 10px;
    border-radius: 4px;
    margin: 0 4px 6px 0;
    border: 1px solid #D2D2D2;
    cursor: pointer;
}
.nameSpan {
    display: inline-block;
    margin-left: 80px;
}


.wjtm_dialog {
    background: #fff;
    padding: 20px 24px;
    font-size: 14px;
    display: none;
}
.wjtm_dialog .layui-input {
    line-height: 32px;
    height: 32px;
}
.wjtm_dialog .layui-input-inline {
    width: 346px;
}
.wjtm_dialog .layui-textarea {
    width: 346px;
}
.wjtm_dialog .layui-form-label {
    padding: 0 15px;
    line-height: 32px;
    width: 100px;
}

.edittc_dialog {
    background: #fff;
    padding: 20px 24px;
    font-size: 14px;
}
.edittc_dialog .layui-input {
    line-height: 32px;
    height: 32px;
}
.edittc_dialog .layui-input-inline {
    width: 346px;
}
.edittc_dialog .layui-textarea {
    width: 346px;
}
.edittc_dialog .layui-form-label {
    padding: 0 5px;
    line-height: 32px;
    width: 120px;
    text-align: left;
}
.edittc_dialog .centerbtn {
    margin: 0 auto;
}