
@{
    Layout = null;
    List<Model.KeyValueModel> qyList = ViewBag.QyList;
}
@model List<dynamic>
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Content/assets/css/layui.css?v=2">
    <link rel="stylesheet" href="~/Content/assets/font2/iconfont.css">
    <link rel="stylesheet" href="~/Content/assets/css/view.css" />
    <link rel="stylesheet" href="~/Content/assets/css/admin.css" />
    <link rel="icon" href="/favicon.ico">
    <title></title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <style>
        body{overflow-y: scroll;}
    </style>
</head>
<body class="layui-view-body">

    <div class="layui-content">
        <div class="layui-page-header">
            <div class="pagewrap">
                <span class="layui-breadcrumb">
                    <a href="">企业团检管理</a>
                    <a  class="on">企业排期设置</a>
                </span>
            </div>
        </div>
        <div class="tool_pannel">
            <form class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-form-inline">
                        <label class="layui-form-label">企业名称：</label>
                        <div class="layui-input-inline">
                            <select name="qybh" id="qybh" lay-search>
                                <option value=""></option>
                                @foreach (var item in qyList)
                                {
                                    <option value="@item.key">@item.values</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="layui-form-inline">
                        <a class="layui-btn layui-btn-blue" onclick="changePostList(1)"><i class="iconfont icon-sousuo"></i>搜索</a>
                    </div>
                </div>
                <a class="layui-btn layui-btn-blue" href="edit?type=@ViewBag.type"><i class="layui-icon">&#xe654;</i>新增排期</a>
            </form>
        </div>
        <div class="table_wrap">
            @Html.Partial("ListPart", Model)
            <!-- 分页样式 -->

        </div>
    </div>
    <script src="~/Content/assets/layui.all.js"></script>
    <script type="text/html" id="barDemo">
        <a class="text_blue" lay-event="edit">编辑</a>
    </script>
    <script>
        function changePostList(page) {

            var qybh = $("#qybh").val();
           
            var url = "/ScheduleQy/List?type='@ViewBag.type'&page=" + page + "&qybh=" + qybh;
            var id = layer.load(0, { time: false, shade: 0.3 });
            $.get(url, function (data) {

                $(".table_wrap").html(data);
                layer.close(id);
            });
        }
    </script>

</body>

</html>
