
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="~/Content/assets/css/layui.css">
    <link rel="stylesheet" href="~/Content/assets/font2/iconfont.css">
    <link rel="stylesheet" href="~/Content/assets/css/admin.css">
    <link rel="stylesheet" href="~/Content/assets/css/view.css" />
    <link rel="icon" href="/favicon.ico">
    <script src="~/Content/assets/jquery.js"></script>
    <title>欢迎页面</title>
</head>
<body class="layui-view-body">
    <div class="layui-content" style="height:100%;min-width:0;">
        <div class="welcom-page">
            <h3>欢迎来到互联网订单管理系统</h3>
            <img src="~/Content/assets/images/hy.png" alt="">
        </div>
    </div>
</body>
</html>
