@{   
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
@model List<Model.XttcbModel>

<div class="layui-content">
    <div class="layui-page-header">
        <div class="pagewrap">
            <span class="layui-breadcrumb">
                <a href="">第三方平台管理</a>
                <a href="" class="on">套餐管理</a>
            </span>
        </div>
    </div>
    <div class="tool_pannel">
        <form class="layui-form">
            <div class="layui-form-item">
                <div class="layui-form-inline">
                    <label class="layui-form-label">渠道名称：</label>
                    <div class="layui-input-inline">
                        <select name="" id=""></select>
                    </div>
                </div>
                <div class="layui-form-inline">
                    <label class="layui-form-label">套餐名称：</label>
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" placeholder="请输入">
                    </div>
                </div>
                <div class="layui-form-inline">
                    <label class="layui-form-label">启动状态：</label>
                    <div class="layui-input-inline">
                        <select name="" id=""></select>
                    </div>
                </div>
                <div class="layui-form-inline">
                    <button class="layui-btn layui-btn-blue"><i class="iconfont icon-sousuo"></i>搜索</button>
                </div>
            </div>
            <button class="layui-btn layui-btn-blue"><i class="iconfont icon-shuaxin"></i>同步套餐</button>
        </form>
    </div>
    <div class="table_wrap">
        <table id="table1">

        </table>
    </div>
</div>

@section scripts {

<script type="text/html" id="barDemo">
    <a class="text_blue" lay-event="edit">编辑</a>
</script>
<script>
		var element = layui.element;
		var table = layui.table;
		var form = layui.form;
		//展示数据
		table.render({
			elem: '#table1',
			cols: [[ //标题栏
			  {field: 'id', title: 'ID',width:60,align:'center'},
			  {field: 'xdmc', title: '渠道名称',width:140},
			  {field: 'tcid', title: '套餐编号',width:140},
			  {field: 'zhx', title: '套餐名称及组合项',width:300},
			  {field: 'price_1', title: '售价'},
			  {field: 'sex', title: '性别',width:120},
			  {field: 'merry', title: '婚姻状态',width:120},
			  {field: 'price_2', title: '结算价'},
			  {field: 'time', title: '同步时间'},
			  {field: 'status', title: '启用状态',width:100},
			  {field: 'tool', title: '操作',toolbar: '#barDemo',width:80}
			]],
			skin:'nob',
			page: {
				limit:2,
				layout:['prev', 'page', 'next','count']
			},
			data: [
				{
					'id':'1',
					'xdmc':'康康体检网',
					'tcid':'001458',
					'zhx':'<span class="text_blue">脑血管疾病筛查组合（女）</span>',
					'price_1':'￥3626.28',
					'sex':'男',
					'merry':'已婚',
					'price_2':'￥3626.28',
					'time':'2019-08-20   12：00',
					'status':'<span class="text_status">已启用</span>',
				},
				{
					'id':'2',
					'xdmc':'康康体检网',
					'tcid':'001458',
					'zhx':'<span class="text_blue">脑血管疾病筛查组合（女）</span>',
					'price_1':'￥3626.28',
					'sex':'男',
					'merry':'已婚',
					'price_2':'￥3626.28',
					'time':'2019-08-20   12：00',
					'status':'<span class="text_status">已启用</span>',

				},
				{
					'id':'3',
					'xdmc':'康康体检网',
					'tcid':'001458',
					'zhx':'<span class="text_blue">脑血管疾病筛查组合（女）</span>',
					'price_1':'￥3626.28',
					'sex':'男',
					'merry':'已婚',
					'price_2':'￥3626.28',
					'time':'2019-08-20   12：00',
					'status':'<span class="text_status">已启用</span>',

				},
				{
					'id':'4',
					'xdmc':'康康体检网',
					'tcid':'001458',
					'zhx':'<span class="text_blue">脑血管疾病筛查组合（女）</span>',
					'price_1':'￥3626.28',
					'sex':'男',
					'merry':'已婚',
					'price_2':'￥3626.28',
					'time':'2019-08-20   12：00',
					'status':'<span class="text_status">已启用</span>',

				},
				{
					'id':'5',
					'xdmc':'康康体检网',
					'tcid':'001458',
					'zhx':'<span class="text_blue">脑血管疾病筛查组合（女）</span>',
					'price_1':'￥3626.28',
					'sex':'男',
					'merry':'已婚',
					'price_2':'￥3626.28',
					'time':'2019-08-20   12：00',
					'status':'<span class="text_status">已启用</span>',

				}
			]
		})
</script>
}